{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Subir Archivo JSON</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <!-- Campo para subir archivo -->
        <div class="mb-3">
            {{ form.file.label(class="form-label") }}
            {{ form.file(class="form-control" + (' is-invalid' if form.file.errors else ''), id="fileInput") }}
            {% for error in form.file.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>

        <!-- Botón de acción -->
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
