{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Configure Scan</h2>
    <form id="scanForm" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        
        <!-- URL -->
        <div class="mb-3">
            {{ form.url.label(class="form-label") }}
            {{ form.url(class="form-control", id="scanUrl") }}
        </div>

        <!-- Intensidad -->
        <div class="mb-3">
            {{ form.strength.label(class="form-label") }}
            {{ form.strength(class="form-select", id="scanIntensity") }}
        </div>

         <!-- Email -->
         <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", id="email") }}
        </div>

        <!-- Programar escaneo -->
        <div class="form-check form-switch mb-3">
                {{ form.schedule.label(class="form-check-label", for="scheduleSwitch") }}
                {{ form.schedule(class="form-check-input", id="scheduleSwitch") }}
        </div>

        <!-- Calendario dinámico (oculto inicialmente) -->
        <div id="scheduleFields" class="d-none">
            <div class="mb-3">
                {{ form.scanDateTime.label(class="form-label") }}
                <div class="input-group">
                    {{ form.scanDateTime(class="form-control", id="datetimepicker") }}
                </div>
            </div>
        </div>

        <!-- Scan para una API -->
        <div class="form-check form-switch mb-3">
            {{ form.apiscan.label(class="form-check-label", for="apiSwitch")}} 
            {{ form.apiscan(class="form-check-input", id="apiSwitch") }} 
            <!-- <label class="form-check-label" for="apiSwitch">Scan for an API</label> -->
        </div>

        <!-- Opciones de API dinámicas -->
        <div id="apiFields" class="d-none">
            <div class="mb-3">
                {{ form.configFile.label(class="form-label") }}
                {{ form.configFile(class="form-control", id="configFile", accept=".json") }}  
            </div>
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<script src="/static/js/scan.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script type="text/javascript">
    $(document).ready(function () {
        flatpickr("#datetimepicker", {
            enableTime: true,     
            dateFormat: "d/m/Y H:i",  
            time_24hr: true,      
            minuteIncrement: 15,  
        });

    });
</script>

{% endblock %}
