{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Configure Scan</h2>
    <form id="scanForm" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        
        <!-- URL -->
        <div class="mb-3">
            {{ form.url.label(class="form-label") }}
            {{ form.url(class="form-control", id="scanUrl") }}
        </div>

        <!-- Intensidad -->
        <div class="mb-3">
            {{ form.strength.label(class="form-label") }}
            {{ form.strength(class="form-select", id="scanIntensity") }}
        </div>

         <!-- Email -->
         <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", id="email") }}
        </div>

        <!-- Programar escaneo -->
        <div class="form-check form-switch mb-3">
                {{ form.schedule.label(class="form-check-label", for="scheduleSwitch") }}
                {{ form.schedule(class="form-check-input", id="scheduleSwitch") }}
        </div>

        <!-- Calendario dinámico (oculto inicialmente) -->
        <div id="scheduleFields" class="d-none">
            <div class="mb-3">
                {{ form.scanDateTime.label(class="form-label") }}
                <div class="input-group">
                    {{ form.scanDateTime(class="form-control", id="datetimepicker") }}
                </div>
            </div>
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<!-- Scripts necesarios -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="/static/js/scan.js"></script>

{% endblock %}
