{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Vulnerabilities</h2>
    <form id="scanForm" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  <!-- CSRF token -->
        
        <!-- URL -->
        <div class="mb-3">
            {{ form.url.label(class="form-label") }}
            {{ form.url(class="form-control", id="scanUrl") }}
        </div>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Old Scan</h5>
                <canvas id="pieChartPast"  width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">New Scan</h5>
                <canvas id="pieChartNew"  width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Obtener datos enviados desde el backend
    const data1 = {{ data1|tojson }};
    const data2 = {{ data2|tojson }};

    // Configuración para el gráfico del último escaneo
    const ctxNew = document.getElementById('pieChartNew').getContext('2d');
    new Chart(ctxNew, {
        type: 'pie',
        data: {
            labels: data1.pieChartNew.labels,
            datasets: [{
                data: data1.pieChartNew.data,
                backgroundColor: ['#FF6384', '#FFCE56', '#36A2EB', '#4BC0C0'],
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Último Escaneo'
                }
            }
        }
    });

    // Configuración para el gráfico del penúltimo escaneo
    const ctxPast = document.getElementById('pieChartPast').getContext('2d');
    new Chart(ctxPast, {
        type: 'pie',
        data: {
            labels: data2.pieChartPast.labels,
            datasets: [{
                data: data2.pieChartPast.data,
                backgroundColor: ['#FF6384', '#FFCE56', '#36A2EB', '#4BC0C0'],
            }]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Penúltimo Escaneo'
                }
            }
        }
    });
</script>

{% endblock %}
